<!DOCTYPE html>
<html lang="kr">
  <head>
    <title>롤 전적 검색 TLQKF.KR</title>
    <link href="/public/main-css.css" rel="stylesheet" />
    <link href="/public/auth-style.css" rel="stylesheet" />
    <link rel="shorcut icon" sizes="16x16" href="/img/icon.png" />
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  </head>
  <body>
    <header class="menu-bar">
      <a class="menu-bar__home-button" href="http://tlqkf.kr/">
        <img src="/img/icon.png" height="100%" />
      </a>
      <a class="menu-bar__multi-search-button" href=""><span>멀티서치</span></a>
      <div class="menu-bar__search-div">
        <input
          class="menu-bar__search-div__input"
          onkeyup="enterkey();"
          required
          placeholder="소환사명"
          type="text"
        />
        <input
          class="menu-bar__search-div__button"
          type="IMAGE"
          src="search-icon.png"
          name="Submit"
          value="Submit"
          align="absmiddle"
          onclick="search()"
        />
      </div>
    </header>
    <main>
      <span class="main__summoner-name">닉네임:</span>
      <div class="main__icon-div">
        <div class="main__icon-div__before-div">
          <img
            src="/img/icon_29.png"
            class="main__icon-div__before-div__img profile-icon"
          />
        </div>
        <span class="main__icon-div__arrow">-></span>
        <div class="main__icon-div__after-div">
          <img
            src="/img/icon_29.png"
            class="main__icon-div__after-div__img profile-icon"
          />
        </div>
      </div>
      <span class="main__span"
        >아이콘을 오른쪽 아이콘으로 변경한 후 변경할 비밀번호를 입력하세요<br />인증이
        끝난 뒤에는 원래대로 해도 됩니다.</span
      >
      <div class="main__password-div">
        <input
          required
          class="main__password-div__password"
          placeholder="비밀번호"
          type="password"
          onkeyup="checkPassword()"
        />
        <input
          required
          id="passwordCheck"
          class="main__password-div__password"
          placeholder="비밀번호 확인"
          type="password"
          onkeyup="checkPassword()"
        />
        <input
          class="main__password-div__button"
          type="IMAGE"
          src="/img/search-icon.png"
          name="Submit"
          value="Submit"
          align="absmiddle"
          onclick="verify()"
        />
      </div>
    </main>

    <p id="passwordHint" class="main__span"></p>
    <script src="/js/verify.js"></script>
    <footer>
      <p>푸터~~~~~~</p>
    </footer>
  </body>
</html>
