<!DOCTYPE html>
<html lang="kr">
  <head>
    <title>롤 전적 검색 TLQKF.KR</title>
    <link href="/public/index-style.css" rel="stylesheet" />
    <link rel="shorcut icon" sizes="16x16" href="/img/shortcutIcon.png" />
  </head>
  <body>
    <h1>Tlqkf.KR</h1>
    <div class="form">
      <input
        class="SearchForm__InputName"
        required
        placeholder="소환사명"
        id="searchName"
        type="text"
        onkeyup="enterkey();"
      />
      <input
        class="SearchForm__Button"
        type="IMAGE"
        src="/img/shortcutIcon.png"
        name="Submit"
        value="Submit"
        align="absmiddle"
        onclick="search()"
      />
    </div>
    <script src="/js/search.js"></script>
  </body>
</html>
