<!DOCTYPE html>
<html lang="kr">
  <head>
    <title>롤 전적 검색 TLQKF.KR</title>
    <link href="/public/search-style.css" rel="stylesheet" />
    <link rel="shorcut icon" sizes="16x16" href="/img/shortcutIcon.png" />
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  </head>
  <body>
    <header class="menu-bar">
      <a href="http://tlqkf.kr/">
        <img src="/img/shortcutIcon.png" width="50" height="50" />
      </a>
      <div class="menu-bar__search-div">
        <input
          class="menu-bar__search-div__input"
          required
          placeholder="소환사명"
          type="text"
        />
        <input
          class="menu-bar__search-div__button"
          type="IMAGE"
          src="/img/shortcutIcon.png"
          name="Submit"
          value="Submit"
          align="absmiddle"
        />
      </div>
    </header>

    <div class="header">
      <img class="header__profile-icon" src="" />
      <div class="header__profile-div">
        <span class="header__profile-div__name">소환사 이름</span>
        <span class="header__profile-div__ranking">
          래더 랭킹 xxx위(상위 xx.xx%)
        </span>
        <button class="header__profile-div__renewal-button">전적갱신</button>
      </div>
      <div class="header__login-div">
        <input
          class="header__login-div__password"
          required
          placeholder="password"
          type="password"
        />
        <input
          class="header__login-div__button"
          type="IMAGE"
          src="/img/shortcutIcon.png"
          name="Submit"
          value="Submit"
          align="absmiddle"
        />
      </div>
      <button class="header__reset-password">비밀번호 재설정</button>
    </div>

    <main>
      <div class="main__side-contents">
        <div class="main__side-contents__tier-box">
          소환사정보 <img id="rankIcon" />
        </div>
        <div class="main__sode-contents__latest-comments">
          <div class="main__sode-contents__latest-comments__span-div">
            <span class="main__sode-contents__latest-comments__span-div__span"
              >게임을 같이한 소환사들의 평가(최근 10개)
            </span>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span
              >이새끼 개악질임 닷지 ㄱㄱ진짜 지건 존나마려움 내생각에 대깨문
              진보대학생임</span
            >
            <h6>2021.07.20</h6>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span>이새끼 개악질임 닷지 ㄱㄱ</span>
            <h6>2021.07.20</h6>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span>이새끼 개악질임 닷지 ㄱㄱ</span>
            <h6>2021.07.20</h6>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span>이새끼 개악질임 닷지 ㄱㄱ</span>
            <h6>2021.07.20</h6>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span>이새끼 개악질임 닷지 ㄱㄱ</span>
            <h6>2021.07.20</h6>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span>이새끼 개악질임 닷지 ㄱㄱ</span>
            <h6>2021.07.20</h6>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span>이새끼 개악질임 닷지 ㄱㄱ</span>
            <h6>2021.07.20</h6>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span>이새끼 개악질임 닷지 ㄱㄱ</span>
            <h6>2021.07.20</h6>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span>이새끼 개악질임 닷지 ㄱㄱ</span>
            <h6>2021.07.20</h6>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span>이새끼 개악질임 닷지 ㄱㄱ</span>
            <h6>2021.07.20</h6>
          </div>
        </div>
      </div>
      <div class="main__game-list">
        <div class="main__main-contents__game-list__game">게임</div>
        <div class="main__main-contents__game-list__game">게임</div>
        <div class="main__main-contents__game-list__game">게임</div>
        <div class="main__main-contents__game-list__game">게임</div>
        <div class="main__main-contents__game-list__game">게임</div>
        <div class="main__main-contents__game-list__game">게임</div>
        <div class="main__main-contents__game-list__game">게임</div>
        <div class="main__main-contents__game-list__game">게임</div>
        <div class="main__main-contents__game-list__game">게임</div>
        <div class="main__main-contents__game-list__game">게임</div>
        <div class="main__main-contents__game-list__game">게임</div>
      </div>
    </main>
    <script src="/js/summoner.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/login.js"></script>
  </body>
</html>
