<!DOCTYPE html>
<html lang="kr">
  <head>
    <title>롤 전적 검색 TLQKF.KR</title>
    <link href="/public/main-css.css" rel="stylesheet" />
    <link href="/public/search-style.css" rel="stylesheet" />
    <link rel="shorcut icon" sizes="16x16" href="/img/icon.png" />
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  </head>
  <body>
    <header class="menu-bar">
      <a class="menu-bar__home-button" href="http://tlqkf.kr/">
        <img src="/img/icon.png" height="100%" />
      </a>
      <a class="menu-bar__multi-search-button" href=""><span>멀티서치</span></a>
      <div class="menu-bar__search-div">
        <input
          id="searchInput"
          class="menu-bar__search-div__input"
          onkeyup="enterkey();"
          required
          placeholder="소환사명"
          type="text"
        />
        <input
          class="menu-bar__search-div__button"
          type="IMAGE"
          src="/img/search-icon.png"
          name="Submit"
          value="Submit"
          align="absmiddle"
          onclick="search()"
        />
      </div>
    </header>
    <div class="header">
      <img class="header__profile-icon" src="/img/icon_29.png" />
      <div class="header__profile-div">
        <span class="header__profile-div__name">소환사 이름</span>
        <span class="header__profile-div__ranking">
          래더 랭킹 xxx위(상위 xx.xx%)
        </span>
        <button class="header__profile-div__renewal-button">전적갱신</button>
      </div>
      <div class="header__login-div">
        <input
          class="header__login-div__password"
          required
          placeholder="password"
          type="password"
        />
        <input
          class="header__login-div__button"
          type="IMAGE"
          src="/img/search-icon.png"
          name="Submit"
          value="Submit"
          align="absmiddle"
          onclick="login()"
        />
      </div>
      <input
        class="header__reset-password"
        type="button"
        value="비밀번호 재설정"
        onclick="location.href = `/auth/${pathName[2]}`"
      />
    </div>

    <main>
      <div class="main__side-contents">
        <div class="main__side-contents__tier-box">소환사정보</div>
        <div class="main__sode-contents__latest-comments">
          <div class="main__sode-contents__latest-comments__span-div">
            <span class="main__sode-contents__latest-comments__span-div__span"
              >게임을 같이한 소환사들의 평가(최근 10개)
            </span>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span
              >이새끼 개악질임 닷지 ㄱㄱ진짜 지건 존나마려움 내생각에 대깨문
              진보대학생임</span
            >
            <h6>2021.07.20</h6>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span>이새끼 개악질임 닷지 ㄱㄱ</span>
            <h6>2021.07.20</h6>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span>이새끼 개악질임 닷지 ㄱㄱ</span>
            <h6>2021.07.20</h6>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span>이새끼 개악질임 닷지 ㄱㄱ</span>
            <h6>2021.07.20</h6>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span>이새끼 개악질임 닷지 ㄱㄱ</span>
            <h6>2021.07.20</h6>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span>이새끼 개악질임 닷지 ㄱㄱ</span>
            <h6>2021.07.20</h6>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span>이새끼 개악질임 닷지 ㄱㄱ</span>
            <h6>2021.07.20</h6>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span>이새끼 개악질임 닷지 ㄱㄱ</span>
            <h6>2021.07.20</h6>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span>이새끼 개악질임 닷지 ㄱㄱ</span>
            <h6>2021.07.20</h6>
          </div>
          <div class="main__sode-contents__latest-comments__comments">
            <h4>닉네임:프로딸잡이</h4>
            <span>이새끼 개악질임 닷지 ㄱㄱ</span>
            <h6>2021.07.20</h6>
          </div>
        </div>
      </div>

      <div class="main__game-list">
        <button onclick="getMatchId(summonerInfo.puuid)">매치 더보기</button>
      </div>
    </main>
    <script src="/js/summoner.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/login.js"></script>
    <footer>
      <p>푸터~~~~~~</p>
    </footer>
  </body>
</html>
